.add-ticket-form {
    max-width: 550px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 5px;
    box-shadow: 0 0 15px  rgba(0, 0, 0, 0.1);
  }
  
  .add-ticket-form .form-label {
    font-weight: bold;
  }
  
  .add-ticket-form .form-control {
    border-radius: 5px;
  }
  
  .add-ticket-form .submit-btn {
    display: block;
    width: 100%;
    font-size: 1.2rem;
    padding: 10px;
    margin-top: 20px;
  }