.registration-page {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #343a40;
    overflow: hidden; 
  }
  
  .form-box {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 500px;
    width: 100%;
    height: 90vh; 
    padding: 20px;
    overflow-y: auto; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  
  .form-box::-webkit-scrollbar {
    width: 8px;
  }
  
  .form-box::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 8px;
  }
  
  .form-box::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  
  h1.label {
    font-size: 24px;
    font-weight: bold;
    color: #343a40;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 0; 
    line-height: 1.5; 
    word-wrap: break-word; 
  }
  
  .form-box .form-label {
    font-weight: bold;
    color: #343a40;
  }
  
  .form-box .form-control {
    border: 1px solid #ced4da;
    border-radius: 4px;
    padding: 10px;
    font-size: 14px;
    color: #495057;
  }
  
  .form-box .form-control:focus {
    border-color: #007bff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }
  
  button[type="submit"] {
    background-color: #007bff;
    border: none;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
  }
  
  button[type="submit"]:hover {
    background-color: #0056b3;
  }
  
  hr {
    border: 1px solid #dee2e6;
    margin: 20px 0;
  }
  
  @media (max-width: 576px) {
    .form-box {
      padding: 15px;
      height: 95vh; 
    }
  
    h1.label {
      font-size: 20px;
    }
  
    ul li {
      font-size: 12px;
    }
  
    button[type="submit"] {
      font-size: 14px;
    }
  }
  