.search-form {
    margin-top: 10px;
  }
  
  .search-label {
    font-weight: bold;
    text-align: left;
  }
  
  .search-input {
    border-radius: 5px;
  }
  
  @media (max-width: 576px) {
    .search-label {
      text-align: center;
      margin-bottom: 10px;
    }
  }